.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 25px;
  }

.input {
    padding: 30px 30px 30px 80px;
    border: solid #1abc9c;
}

.content {
    padding-left: 80px;
    border: solid #1abc9c;
}

.result {
    font-weight: bold;
}

#map {
    width: 500px; 
    height: 350px;
    border: solid black
}

@media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768 pixels (tablets) */
    #map {
        height: 300px;
    }

    .form {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    /* Styles for screens with a maximum width of 480 pixels (phones) */
    #map {
        height: 200px;
    }
}